@CHARSET "UTF-8";
/* 
Reset & Set Stylesheet
v2.0.1
First Updated: 2017-10-30
Last Updated: 2017-11-22
Author: TrueDesign
*/

/* header */
#header {height:136px}
.util .top_mem, .util .top_mem li {width:85px}
.gnbArea {height:1px}


/* common */
#contents {padding-top:30px; min-height:800px}
.contentBody h2 { clear:both; font-size:18px; font-weight:bold; margin:25px 0 5px; background:url(../images/content/bul_h4.gif) no-repeat 0 50%; padding-left:25px }


/* tabmenu */
.category {clear:both;margin:0px 0 20px 0;}
.category ul {height:50px;border-bottom:1px solid #055d5d;}
.category ul li {float:left;height:49px;background-color:#fff;display:inline-block;border:1px solid #cecece;line-height:48px;border-bottom:none;margin-right:4px;}
.category ul li a {font-size:16px;padding:0 44px;display:inline-block}
.category ul li a:hover {color:#159fcc}
.category .on {background-color:#fff;display:inline-block;border:1px solid #055d5d;border-top:4px solid #159fcc;line-height:45px;border-bottom:none;font-weight:bold;height:47px;}

/* body */
.result_word {padding:15px 0; background:#f9fafc;border:1px solid #969dac; clear:both; margin-bottom:20px}
.result_word p {text-align:center; font-size:1.5em}
.result_word p span {color:#F00; font-weight:700}

.resultWrap {position:relative;width:740px;float:left}
.resultWrap h2 {margin-top:0; font-size: 22px}
.resultWrap h2 span {font-size:18px;font-weight:500; margin-left:5px}
.resultWrap .srchArea {padding:0px 0 20px 0; border-bottom: 1px solid #dadada; margin-bottom:20px; position:relative}

.total_box { overflow:hidden;background:#FFF; padding:10px; border:1px solid #e0e0e0; margin-top:10px}
.total_box ul {margin-left:30px}
.total_box li {display:inline-block;float: left; line-height: 26px; width:33%; }
.total_box li a {display:inline-block; background:url(../images/content/li_bullet02.gif) no-repeat left 12px;padding-left:10px; width:90%}
.job_box dl {overflow:hidden; margin:10px 0 0 15px; line-height:170%; position:relative}
.job_box dl dt {font-size:16px; font-weight:500; background:url(../images/content/li_bullet01.gif) no-repeat 0 9px; padding-left:9px}
.job_box dl dt a {color:#159fcc}
.job_box dl dd {padding-left:9px}
.job_box dl dd > span {display:inline-block; margin-right:10px; padding-right:10px;background: url(../images/common/line2.png) no-repeat right 6px;}
.job_box dl dd > span strong {margin-right:5px}
.job_box dl dd > span.subject {width:70%; display:inline-block}
.job_box dl dd.more {margin-top:5px;background:#f9fafc; padding: 5px;}
.job_box dl dd.more a { background: url(../images/content/ic_more.gif) no-repeat right 4px; padding-right:15px}
.txt_box ul {overflow:hidden; margin:10px 0 0 20px; line-height:170%; position:relative}
.txt_box ul li {margin-bottom:10px; clear:both; overflow:hidden;border-bottom:1px dotted #dadada; padding:0 0 10px 9px; background: url(../images/content/li_bullet01.gif) no-repeat 0 9px;}
.txt_box ul li.more {background: #f9fafc;border-bottom:none; padding:5px; margin-bottom:0px}
.txt_box ul li:nth-child(3) { border-bottom:none; padding-bottom:0}
.txt_box ul li strong {color:#159fcc;margin-right:5px; font-size:16px}
.txt_box ul li > div {width:100%}
.txt_box ul li > div span.date {color:#969dac}
.txt_box ul li > div.fl {width:auto}
.txt_box ul li .fr {margin:0 0 0 15px; overflow:hidden;width:130px; height:90px;border:1px solid #e0e0e0}
.txt_box ul li .fr img {width:100%; height:100%;}
.more {margin:0px;background: #f9fafc; padding:5px;border-bottom:none; display:block}
.more a { background: url(../images/content/ic_more.gif) no-repeat right 4px; padding-right:15px}

.resultAside {float:right;width:198px;border: 1px solid #dadada;}
.resultAside .box {position:relative;margin-bottom:10px; padding:10px}
.resultAside .box h2 {font-size:16px; margin:0 0 10px; border-bottom:1px dotted #dadada; padding:0 0 10px; background:url(../images/content/ic_under.gif) no-repeat right 30%}
.resultAside .box li {margin-bottom:5px}
.resultAside .box li a {display:inline-block; width:85%}
.resultAside .box .num {width:13px;height:13px; margin-right:8px;font-size:11px; text-align:center;line-height:13px;display:inline-block; border:1px solid #e0e0e0}
.resultAside .box.popluar {border-top:1px solid #dadada}

/* page navigation */
.paging_wrap {position:relative;margin: 20px 0;}
.pagination li {display:inline-block;}
.pagination li a {display:inline-block;width:36px;height:36px;line-height:36px;border:1px solid #ccc; text-align:center;font-size:13px;color:#929aaa}
.pagination li.active a, .pagination li a:hover, .pagination li a:focus {/*background:#4c5365;color:#fff;*/color:#363c48;font-weight:bold;border:1px solid #363c48;}
.pagination li a:hover { text-decoration:none}
.pagination li.button a { background:url(../images/content/ic_paginate.png) no-repeat;text-indent:-1000em; }
.pagination li.button.previous a { background-position:0 0}
.pagination li.button.left a { background-position:-36px 0}
.pagination li.button.right a { background-position:-72px 0}
.pagination li.button.next a { background-position:-108px 0}
.pagination li.button a span { text-indent:-1000em;}